body {
	color: #ccc;
}

.blog-author {
	height:100%;
	position:fixed;
	padding-top: 75px;
	background: #1a1e23; /* #2b2b2b*/
	text-align: center;
}

.blog-author h1 {
	height:60px;
	color: #68c3a3;
	line-height: 46px;
}

.blog-author h1:hover {
	color: #f76b61;
	cursor: pointer;
}

.blog-author .author-img {
	width: 180px;
	height: 180px;
	background-position: 50% 50%;
	background-size: cover;
	border-radius: 50%;
  margin-left: 50%;
  transform: translateX(-50%);
}

.blog-author .short-description {
	padding: 20px;
	margin: 10px 0;
	border-top: #333 solid 1px;
}

.blog-author .social {
	padding: 30px 0;
	border-top: #333 solid 1px;
}
.blog-author .social a {
	padding: 0 10px;
	color: #ccc;
}

.blog-author .social a:hover {
	color: #68c3a3;
}

.blog-author .blog-home {
	border-top: #333 double;
	padding-top: 30px;
}
.blog-author .blog-home a {
	color: #ccc;
}

.blog-author .blog-home a:hover {
	color: #68c3a3;
}

.content {
	min-height: 100%;
	color:#333;
	padding: 50px 30px; 
	font-size: 18px;
	line-height: 36px;
}

.content header {
  border-bottom: #eee solid 1px;
}

.content .post-title {
	line-height: 46px;

}

.content .post-content {
	margin-top: 20px;
}

.content .post-date {
	margin-top: 10px;

}

.content .next-post {
	padding: 20px 0;
  border-top: #eee solid 1px;
  border-bottom: #eee solid 1px;
  margin-top: 30px;
}

.content .next-post .next-post-icon {
	float: left;
	padding-right: 25px;
}

.content .next-post a {
	color: #333;
}

.content .next-post a:hover {
	color: #68c3a3;
}

.content .next-post .next-post-title {
	padding-top: 5px;
	font-style: italic;
	font-weight: 400;
}

@media screen and (max-width: 991px) {
	.blog-author {
		position: relative;
		padding-top:55px;
		padding-bottom: 30px;
	}
}

/**
 * For blog page
 */
.entries {
	min-height: 600px;
}
.post-entry {
	padding-bottom: 10px;
}
.post-entry .post-date {
	float: left;
	padding-right:20px;
	margin: 0;
	font-style: italic;
	font-size: 15px;
	padding-top: 8px;
}

.post-entry .post-title {
	font-size: 24px;
}

.post-entry a {
	color: #333;
}

.post-entry a:hover {
	color: #68c3a3;
}

/**
 * Disqus comments
 */
#disqus_thread {
	margin-top: 30px;
}



