/* ---------------------------------------------- /*
 * Scroll to top
/* ---------------------------------------------- */

.scroll-up {
	position: fixed;
	display: none;
	z-index: 999;
	bottom: 1.8em;
	right: 1.8em;
}

.scroll-up a {
    /*
	background-color: #68c3a3;
    */
    color: #68c3a3;

	display: block;
	width: 28px;
	height: 28px;
	text-align: center;
	font-size: 14px;
	line-height: 28px;
}

.scroll-up a:hover,
.scroll-up a:active {
    /*
	background-color: rgba(235, 235, 235, .8);
	color: #222;
    */
    color: rgba(235, 235, 235, .8);
}
