.slideme_container {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.slideme_container ul,
.slideme_container ol, 
.slideme {
    margin: 0;
    padding: 0;
}

.slideme_container li, 
.slideme > li  {
    display: block;
    list-style: none;
}

.slideme_container,
.slideme {
    position: relative;
}

.slideme,
.nextClicked, 
.prevClicked {
	overflow: hidden;
}

.slideme_container ol img, 
.slideme > * img{
    display: block;
    width: auto;
    height: 100%;
    margin: 0 auto;
}

.slideme > *:first-child {
    opacity: 1;
    position: relative;
    z-index: 5;
}

.slideme > *, 
.slideme_container .slideme > * {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}

.slideme > * {
    -webkit-transform: translate3d(0, 0, 0) translate(0px, 0px) translateZ(0px);
    -moz-transform: translate3d(0, 0, 0) translate(0px, 0px) translateZ(0px);
    -ms-transform: translate3d(0, 0, 0) translate(0px, 0px) translateZ(0px);
    -o-transform: translate3d(0, 0, 0) translate(0px, 0px) translateZ(0px);
    transform: translate3d(0, 0, 0) translate(0px, 0px) translateZ(0px);
}

.slideme_container .slideme > *.current {
    opacity: 1;
    z-index: 5;
}

.single button.arrow,
.single .pagination
 {
	display: none;
}

/*
 * slide
 */

.slideme-slide > *, 
.slideme_container .slideme-slide > * {
    visibility: hidden;
    z-index: 0;
}

.slideme-slide > .current,
.slideme-slide > .next {
    visibility: visible;
    z-index: 5;
}

.slideme-slide > .after {
    left: 100%;
}

.slideme-slide > .before {
    left: -100%;
}

.slideme-slide.nextClicked > .current,
.slideme-slide.nextClicked > .next,
.slideme-slide.prevClicked > .current,
.slideme-slide.prevClicked > .next {
    -webkit-transition: left 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);
    -moz-transition: left 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);
    -ms-transition: left 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);
    -o-transition: left 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);
    transition: left 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);
}

.slideme-slide.prevClicked > .next, 
.slideme-slide.nextClicked > .next {
    left: 0;
}

.slideme-slide.prevClicked > .current {
    left: 100%;
}

.slideme-slide.nextClicked > .current {
    left: -100%;
}

/*
 * zoom
 */

.slideme-zoom > *, 
.slideme_container .slideme-zoom > * {
    opacity: 0;
    visibility: hidden;
}

.slideme-zoom > .current {
    visibility: visible;
    z-index: 4;
}

.slideme-zoom > .next {
    visibility: visible;
    z-index: 5;
}

.slideme-zoom > .before, 
.slideme-zoom.nextClicked > .current {
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -ms-transform: scale(1.4);
    -o-transform: scale(1.4);
    transform: scale(1.4);
}

.slideme-zoom > .after, 
.slideme-zoom.nextClicked > .next, 
.slideme-zoom.prevClicked > .current {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    z-index: 5;
}

.slideme-zoom > .before {
    z-index: 6;
}

.slideme-zoom.nextClicked > .current,
.slideme-zoom.nextClicked > .next,
.slideme-zoom.prevClicked > .current,
.slideme-zoom.prevClicked > .next {
    -webkit-transition: opacity 0.35s cubic-bezier(0.47, 0, 0.745, 0.715), -webkit-transform 0.35s cubic-bezier(0.47, 0, 0.745, 0.715);
    -moz-transition: opacity 0.35s cubic-bezier(0.47, 0, 0.745, 0.715), -moz-transform 0.35s cubic-bezier(0.47, 0, 0.745, 0.715);
    -ms-transition: opacity 0.35s cubic-bezier(0.47, 0, 0.745, 0.715), -ms-transform 0.35s cubic-bezier(0.47, 0, 0.745, 0.715);
    -o-transition: opacity 0.35s cubic-bezier(0.47, 0, 0.745, 0.715), -o-transform 0.35s cubic-bezier(0.47, 0, 0.745, 0.715);
    transition: opacity 0.35s cubic-bezier(0.47, 0, 0.745, 0.715), transform 0.35s cubic-bezier(0.47, 0, 0.745, 0.715);
}

.slideme-zoom.nextClicked > .current {
    opacity: 0;
}

.slideme-zoom.nextClicked > .after {
    opacity: 1;
}

.slideme-zoom.prevClicked > .next {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    visibility: visible;
}

/*
 * fade
 */

.slideme-fade > *, 
.slideme_container .slideme-fade > * {
    opacity: 0;
    z-index: 0;
}

.slideme-fade.nextClicked > .current,
.slideme-fade.nextClicked > .next,
.slideme-fade.prevClicked > .current,
.slideme-fade.prevClicked > .next {
    -webkit-transition: opacity 0.7s cubic-bezier(0.47, 0, 0.745, 0.715);
    -moz-transition: opacity 0.7s cubic-bezier(0.47, 0, 0.745, 0.715);
    -ms-transition: opacity 0.7s cubic-bezier(0.47, 0, 0.745, 0.715);
    -o-transition: opacity 0.7s cubic-bezier(0.47, 0, 0.745, 0.715);
    transition: opacity 0.7s cubic-bezier(0.47, 0, 0.745, 0.715);
}

.slideme-fade.nextClicked > .current, 
.slideme-fade.prevClicked > .current  {
    opacity: 0;
    z-index: 5;
}

.slideme-fade.nextClicked > .next, 
.slideme-fade.prevClicked > .next  {
    opacity: 1;
    z-index: 4;
}

/*
 * page
 */

.slideme-page > .current {
    visibility: visible;
    z-index: 4;
}

.slideme-page > .next {
    visibility: visible;
    z-index: 6;
}

.slideme-page > .after {
    left: 100%;
}

.slideme-page > .before {
    left: -100%;
}

.slideme-page.nextClicked > .current, 
.slideme-page.prevClicked > .current {
    -webkit-transition: visibility 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);
    -moz-transition: visibility 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);
    -ms-transition: visibility 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);
    -o-transition: visibility 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);
    transition: visibility 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);
    visibility: hidden;
}

.slideme-page.nextClicked > .next, 
.slideme-page.prevClicked > .next {
    -webkit-transition: left 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);
    -moz-transition: left 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);
    -ms-transition: left 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);
    -o-transition: left 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);
    transition: left 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);
    left: 0;
}

/*
 *  SLIDEME TOUCH
 */

.slideme-touch {
    font-size: 0;
    height: 100%;
    overflow: hidden;
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
    width: 100%;
}

.slideme-touch::-webkit-scrollbar {
	display:none;
}

.slideme-touch.snapping {
    -webkit-overflow-scrolling: none!important;
    overflow-x: hidden!important;
} 

.slideme_container .slideme-touch > * {
    -webkit-transform: translateZ(0px);
    display: inline-block;
    height: 100%;
    position: relative;
    width: 100%;
}

.slideme_container .slideme-touch > * img {
    display: block;
    min-height: 1px;
    min-width: 1px;
    width: 100%;
}

.slideme2Theme{   background:#000; }.slideme2Theme .slideme{   -webkit-transition:opacity .15s cubic-bezier(0.47,0,0.745,0.715);   -moz-transition:opacity .15s cubic-bezier(0.47,0,0.745,0.715);   -ms-transition:opacity .15s cubic-bezier(0.47,0,0.745,0.715);   -o-transition:opacity .15s cubic-bezier(0.47,0,0.745,0.715);   -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";   filter:alpha(opacity=100);   -moz-opacity:1;   -khtml-opacity:1;   opacity:1; }.slideme2Theme:hover .slideme{   filter:alpha(opacity=50);   -moz-opacity:0.5;   -khtml-opacity:0.5;   opacity:0.5; }.slideme2Theme button.arrow,.slideme2Theme .numbers li{   -webkit-transition:opacity .15s cubic-bezier(0.47,0,0.745,0.715);   -moz-transition:opacity .15s cubic-bezier(0.47,0,0.745,0.715);   -ms-transition:opacity .15s cubic-bezier(0.47,0,0.745,0.715);   -o-transition:opacity .15s cubic-bezier(0.47,0,0.745,0.715);   -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";   filter:alpha(opacity=80);   -moz-opacity:0.8;   -khtml-opacity:0.8;   opacity:0.8; }.slideme2Theme button.arrow:hover,.slideme2Theme .numbers li:hover,.slideme2Theme .numbers li.current{   -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";   filter:alpha(opacity=100);   -moz-opacity:1;   -khtml-opacity:1;   opacity:1; }.slideme2Theme button.arrow{   font-size:11px; background:none;   background:url("http://slideme.luigiferraresi.it/wp-content/themes/slideme/css/../img/sprite_theme.png") 0 0 no-repeat;   border:none;   color:#fff;   cursor:pointer;   display:block;   font-family:'Oswald',sans-serif; // https://www.google.com/fonts/specimen/Oswald   font-size:18px;   font-weight:300;   height:20px;   line-height:20px;   margin:0;   margin-top:-10px;   padding:0;   position:absolute;   text-transform:uppercase;   top:50%;   z-index:20; }.slideme2Theme button:disabled{   -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";   filter:alpha(opacity=30);   -moz-opacity:0.3;   -khtml-opacity:0.3;   opacity:0.3;   cursor:default; }.slideme2Theme button.next{   background-position:30px -20px;   right:20px;   padding-right:40px; }.slideme2Theme button.prev{   background-position:0 0;   left:20px;   padding-left:40px; }.slideme2Theme .pagination{   bottom:100px;   display:block;   left:0;   position:absolute;   text-align:center;   width:100%;   z-index:20; }.slideme2Theme .numbers li{   -webkit-transition:background-position .33s cubic-bezier(0.47,0,0.745,0.715);   -moz-transition:background-position .33s cubic-bezier(0.47,0,0.745,0.715);   -ms-transition:background-position .33s cubic-bezier(0.47,0,0.745,0.715);   -o-transition:background-position .33s cubic-bezier(0.47,0,0.745,0.715);   background:url("http://slideme.luigiferraresi.it/wp-content/themes/slideme/css/../img/sprite_theme.png") no-repeat;   background-position:0 -40px;   cursor:pointer;   display:inline-block;   height:10px;   margin:0 1px;   overflow:hidden;   text-indent:-3000em;   width:10px;   *display:inline;   *zoom:1; }.slideme2Theme .numbers li.current{   background-position:0 -50px;   cursor:default; }